*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(20, 150, 155);
    background-image: -webkit-linear-gradient(120deg, #313131 50%, #4f5355 50%);
}

.container{
    max-width: 100%;
    margin: 0 auto;
}

.apply_box1{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin:0 auto;
    margin-top:50px;
    box-shadow: 4px 3px 5px rgba(1,1,1,0.1);
    border-radius: 15px;
    text-align: center;
}

.apply_box2{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin:0 auto;
    margin-top:50px;
    box-shadow: 4px 3px 5px rgba(1,1,1,0.1);
    border-radius: 15px;
    text-align: center;
}

.apply_box3{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin:0 auto;
    margin-top:50px;
    box-shadow: 4px 3px 5px rgba(1,1,1,0.1);
    border-radius: 15px;
    text-align: center;
}

.apply_box4{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin:0 auto;
    margin-top:50px;
    box-shadow: 4px 3px 5px rgba(1,1,1,0.1);
    border-radius: 15px;
    text-align: center;
}

.apply_box1:hover{
    cursor: pointer;
    transform: scale(1.1);
    border-style: outset;

}

.apply_box2:hover{
    cursor: pointer;
    transform: scale(1.1);
    border-style: outset;

}

.apply_box3:hover{
    cursor: pointer;
    transform: scale(1.1);
    border-style: outset;

}

.apply_box4:hover{
    cursor: pointer;
    transform: scale(1.1);
    border-style: outset;

}

.title_small{
    font-size: 20px;
}

.personal_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.personal_control{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}


.education_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.education_control{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

.address_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.address_control{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

.job_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.job_control{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

label{
    font-size: 15px;
    margin-bottom: 5px;
}

input, select{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 15px;
    margin-bottom: 3px;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button{
    border-radius: 10px;
    background-color:forestgreen;
    border: transparent;
    padding:5px 10px;
    color:white;
    transition: 0.3s ease-in;
}

button:hover{
    background-color: rgb(79, 153, 5);
    border: 5px solid rgb(20, 150, 155);
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}

textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 3px;
}

.textarea_control{
    grid-column:1 /span 2;
    font-weight: bolder;
}
.textarea_control textarea{
    width: 100%;
}

/*@media screen {
    max-width: 460px;
    .textarea_control{
        grid-column:1 / span 1 ;
    }
}*/
